<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Valorant Tracker</title>
    <link rel="stylesheet" href="./static/css/accueil.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">
    <script src="./static/js/accueil.js" defer></script>
</head>
<body>
    <nav>
        <ul>
            <li><a href="accueil">Accueil</a></li>
            <li><a href="profil">Profil</a></li>
            <li><a href="leaderboard">Leaderboard</a></li>
            <li><a href="connexion">Connexion</a></li>
        </ul>
    </nav>
    <div class="container">
        <h1>Tracking.</h1>
        <form id="tracker_form">
            <label for="tracker_input">
                <input type="text" id="tracker_input" name="tracker_input" placeholder="Entrez votre pseudo Valorant">
            </label>
            <button type="submit">Track</button>
        </form>
        <h2>or</h2>
        <button type="submit" id="sign_up_button">Sign up</button>
    </div>


</body>
</html>